@import url('https://fonts.googleapis.com/css?family=Amiko:400,600,700');


body {
  font-family: Amiko;
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  display: flex;
  background-color: #000000; /* Used if the image is unavailable */
}

.large-header {
  background-image: url("bilder/sky.png")  ;
  background-position: center;
  background-size: cover;
  width:100vw;
  height:100%;
  position: relative;
  /*-webkit-animation: fly 100s linear infinite;*/
}

@-webkit-keyframes fly {
    from {
      background-position: 0 0;
      /* transform: scale(1); */
    }
    to {
      background-position: 0 2500px;
      /* transform: scale(20); */
    }
}
@-moz-keyframes fly {
    from {background-position:0 0;}
    to {background-position:0 2500px;}
}
@-ms-keyframes fly {
    from {background-position:0 0;}
    to {background-position:0 2500px;}
}

.container-cat {
  height: 300px;
  width: 300px;
  position: relative;
  margin:0 auto;
}

#cat {
  height: 300px;
  width: 300px;
  margin:0 auto;
  position: absolute;
  top:85%;
  cursor: pointer;
}

#bag {
  height: 70px;
  width: 70px;
  background-color: none;
  top:22%;
  left:18%;
  position:absolute;
  cursor:pointer;
}

.is-hidden {
  display: none;
}

.container-counter {
  width: 30%;
  height: 20%;
  float: right;
  position: relative;
  margin:0 3rem 0 0;
  padding: 0;
  top:48%;
}

.first-line {
  float:right;
  width: 100%;
  height: 40%;
  text-align: right;
}

#counter {
  font-weight:600;
  font-size: 6.5rem;
  text-align: right;
  line-height: 2.3rem;
  color:white;
  position:absolute;
  width: 80%;
  height: 30%;
  right:25%;
}

.km1 {
  width: 100%;
  height: 25%;
  font-weight:600;
  font-size: 3rem;
  text-align: right;
  color:white;
  position:absolute;
}

.second-line {
  float:right;
  width: 100%;
  height: 10%;
  text-align: right;
  position: relative;
}

#per-second-counter {
  font-weight:600;
  font-size: 1.2rem;
  text-align: right;
  color:white;
  position:absolute;
  width: 45%;
  height: 100%;
}

.per-second {
  font-weight:600;
  font-size: 1.2rem;
  text-align: right;
  color:white;
  position:absolute;
  width: 100%;
  height: 100%;
}

.container-progress {
  position:relative;
  left:1.5rem;
  top:1.6rem;
  margin:0;
}

.progressbar-empty {
  background-color: none;
  width: 1.2rem;
  height:4rem;
  position: absolute;
  outline: 0.5px solid white;
}

.progressbar-filled {
  background-color: white;
  height:1rem;
  margin-top:3rem;
  width: 1.2rem;
  position: absolute;
  outline: 0.5px solid white;
}

.level-counter {
  color:white;
  font-weight: 600;
  position: absolute;
  top:4.7rem;
  font-size: 1rem;
}

.level {
  color:white;
  font-weight: 600;
  position: absolute;
  top:5.8rem;
  font-size: 1rem;
}
